@model EShop.Web.Models.ProductModel
@{
    ViewData["Title"] = "Add Products";
}

<div class="text-center">
    <h1 class="display-4">Add Products</h1>
</div>
<form method="post">

    <div class="form-text">
        <label asp-for="DenumireProdus">Numele Produsului</label>
        <input asp-for="DenumireProdus" class="form-control" placeholder="Numele Produsului">
        <span asp-validation-for="DenumireProdus" class="text-danger"></span>
    </div>

    <div class="form-text">
        <label asp-for="Descriere">Descrierea Produsului</label>
        <input asp-for="Descriere" class="form-control" placeholder="Descrierea Produsului">
        <span asp-validation-for="Descriere" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

